.tittle{
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tittle img{
    height: 80px;
    padding: 15px;
}

.form{
    display: flex;
    flex-direction: column;
}

.form nav{
    display: flex;
    flex-direction: column;
}

.form nav button{
   margin: 5px;
}

.pfp{
    margin: 20px;
    scale: 2;
}

.button{
    text-decoration: none;
    color: black;
    border: 1px solid #908f8f;
    background-color: #b8b8b8;
    padding:5px;
    margin: 5px;
}